@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

* {
  box-sizing: border-box;
}

body {
  margin: -15px 0 0 -15px;
  background: url(../assets/under-construction-assets/triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}

.page-container {
  min-width: 100%;
  min-height: 100%;
}

.content-container {
  margin-top: 10%;
  margin-bottom: 10%;
  max-height: 50%;
}

.text-container {
  float: left;
  clear: both;
}

.text-container p {
  font-family: 'Cabin Sketch', cursive;
  text-transform: uppercase;
  font-size: 4em;
  color: #524E52;
  max-width: 100%;
  word-wrap: break-word;
}

.image-container {
  float: right;
  clear: both;
}

.image-container img {
  max-width: 60%;
  max-height: 60%;
}
/* dev styles */
.page-container {
  /*background-color: pink;*/
}

.content-container {
  background-color: blue;
}

.text-container {
  background-color: yellow;
}

.image-container {
  background-color: green;
}
