* {
  box-sizing: border-box;
}

body {
  background: url(../assets/under-construction-assets/triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}
