* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  /*background: pink;*/
}

.page-container { 
  position: relative ;
  z-index: 1;
  transform-origin: 50% 50vh;
  background-color: green;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  z-index: 999;
  background-color: orange;
  width: 100%;
  min-height: 70px;
  padding: 10px;
  display: table;
}

.header-logo,
.header-menu
 {
  display: table-cell;
  vertical-align: middle;
}

.header-logo {
  width: 50%;
  background-color: yellow;
  text-align: left;
}


.header-menu {
  width: 50%;
  background-color: green;
  text-align: right;
  position: fixed;
}



.home-container {
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  overflow: hidden;
  background-color: pink;
  text-align: center;
  background: url('NR_Z.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /*display: table;*/


}




.home-content-container {
/*background-color: black;*/
/*min-height: 100%;*/
position: relative;
min-height: 100vh;
height: auto;
display: table;
/*background-color: rgba(255, 255, 255, 0.5);*/
/*display: table;
vertical-align: middle;*/
}

.home-opacity-layer {
  background-color: rgba(124, 121, 125, 0.6);
  width: 100%;

}

@media (max-height: 780px) {
  .home-container {
    position: relative;
    /*display: table;*/
    min-height: 100vh;
    height: auto;
    background-color: red;
  }

  /*.home-content-container {
    padding: 150px 0;
  }*/

}

.home-inner {
  display: table-cell;
  vertical-align: middle;
}

.home-content-container h1 {
    margin-bottom: 30px;
    font-size: 100px;
    line-height: .73;
  }

.home-content-container h6 {
  max-width: 710px;
  margin: auto;
  font-size: 16px;
}

.coding-site-icon-bar {
  min-width: 40%;
  max-width: 80%;
  background-color: yellow;
  margin: auto;
  font-size: 48px;

}

/* PROJECT PAGES */

.homepage-project {
  width: 100%;
  height: 100vh;
  position: relative;
  display: table;
}

.homepage-project-content {
  width: 100%;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


#homepage-project-1 {
  background: url('Assets/background-images/em-solo-800px.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  background-position: left bottom;
}

#homepage-project-2 {
  background: url('Assets/background-images/mw-paint.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.project2-opacity-layer {
  background-color: rgba(193, 190, 193, 0.5);
  position: relative;
  min-height: 100vh;
  height: auto;
}

.hp-project-logo {
  margin-right:0;
}

#homepage-project-3 {
  background: url('NR_DoL.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
