* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  /*background: pink;*/
}

.page-container { 
  position: relative ;
  z-index: 1;
  transform-origin: 50% 50vh;
  background-color: green;
}

.home-container {
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  overflow: hidden;
  background-color: pink;
  text-align: center;
}

@media (max-height: 780px) {
  .home-container {
    position: relative;
    display: table;
    min-height: 100vh;
    height: auto;
    background-color: red;
  }

  .home-content-container {
    padding: 150px 0;
  }
}

.home-content-container h1 {
    margin-bottom: 30px;
    font-size: 100px;
    line-height: .73;
  }

.home-content-container h6 {
  max-width: 710px;
  margin: auto;
}

.coding-site-icon-bar {
  min-width: 40%;
  max-width: 80%;
  background-color: yellow;
  margin: auto;
  font-size: 48px;

}

/* PROJECT PAGES */

.homepage-project {
  width: 100%;
  height: 100vh;
  position: relative;
  display: table;
}

.homepage-project-content {
  width: 100%;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


#homepage-project-1 {
  background: url('ocean.jpg');
}

#homepage-project-2 {
  background: url('NR_DoL.jpeg');
}

#homepage-project-3 {
  background: url('NR_Z.jpg');
}



/*.home-inner {
  background-color: purple;
  min-height: 500px;
}*/
