* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  /*background: pink;*/
}

.page-container { 
  position: relative ;
  z-index: 1;
  transform-origin: 50% 50vh;
  background-color: green;
}
